@page "/book"

@using Library.Application.Dtos.BookDtos;
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h1>Books</h1>

@if (loading)
{
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
}
else if (books == null || !books.Any())
{
    <MudAlert Severity="Severity.Error">No books found in your collection</MudAlert>
}
else
{
    <MudDataGrid Items="@books.Take(3)">
        <Columns>
            <PropertyColumn Property="x => x.Id" />
            <PropertyColumn Property="x => x.Title" />
            <PropertyColumn Property="x => x.AuthorId" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary">Update</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>

    </MudDataGrid>
}

