@page "/book"

@using Library.Application.Dtos.BookDtos;
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h1>Books</h1>

@if (loading)
{
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
}
else if (books == null || !books.Any())
{
    <MudAlert Severity="Severity.Error">No books found in your collection</MudAlert>
}
else
{
    <MudTable Items="@books.Take(4)" Hover="true">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Title</MudTh>
            <MudTh style="text-align: left;">Author Id</MudTh>  
        </HeaderContent>
        <RowTemplate>
            @foreach (var book in books)
            {
                <MudTd>@book.Id</MudTd>
                <MudTd>@book.Title</MudTd>
                <MudTd style="text-align: left;">@book.AuthorId</MudTd>
            }
        </RowTemplate>
    </MudTable>
}

